#search{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -45px;
    width: 100%;
    input{
        width: 69%;
    }
    button{
        margin-left:10px;
        padding: 3px 5px;
    }
}

#shopList{
    .item{
        padding-left: 12px;
        position: relative;
        padding-top: 5px;
        border-bottom: 1px solid #f4f4f4;
        .score,.address, .orderNum{
            font-size:12px;
            color:#999;
        }
        img.arrow {
            position: absolute;
            right: 12px;
            top: 50%;
            margin-top: -8px;
        }
    }
}


#shopDetail{
    .menu{
        border-bottom:1px solid #ccc;
        span{
            width: 31%;
            display: inline-block;
            text-align: center;
            box-sizing:border-box;
            padding:6px 0 4px 0;
        }
        .active{
            color: #ff6633;
            border-bottom:2px solid #ff6633; 
        }
    }
    .service{
        .info{
            border-bottom:1px solid #eee;
            .item{
                margin-left:12px;
                height:40px;
                span{
                    line-height:40px;
                }
                .name{
                    color: #333;
                }
                .num{
                    color: #999;
                    font-size:12px;
                    padding-left: 10px;
                }
                .price{
                    float:right;
                    padding-right:40px;
                }
            }
            .item + .item{
                border-top:1px solid #eee;
            }
        }
        .operation{
            text-align:center;
            margin-top:15px;
            .pay{
                margin-left:15px;
            }
            .order{
                margin-right:15px;
            }
        }
    }
    .evaluation{
        .info{
            border-bottom:1px solid #eee;
            .item + .item{
                border-top:1px solid #eee;
            }
            .item{
                padding-top:7px;
                margin-left:12px;    
                .time{
                    color:#999;
                    font-size:12px;
                    float: right;
                    padding-right: 20px;
                }
                .evas{
                    span, p{
                        font-size:12px;
                        color:#999;
                    }
                }
            }
        }
    }
    .shopinfo{
        border-bottom:1px solid #eee;
        .info{
            padding-bottom: 5px;
            margin:5px 0 0 12px;
            .name{
                color:#333;
                font-size:14px;
                display:block;
                padding-bottom:5px;
            }
            .grade{
                padding-left: 10px;
            }
            .grade, .orderNum, .address, .phoneNum{
                font-size: 12px;
                color: #999;
                padding-top:5px;
            }
            .address, .phoneNum{
                display:block;
            }
        }
    }

}
#appointment{
   .item{
        position:relative;
        padding:12px;
        margin:10px;
        label{
            position: absolute;
            top: 16px;
        }

        select{
            width:50%;
            margin-left:70px;
        }
   }  
    button{
        display: block;
        width: 80%;
        margin-left: 10%;
        position: absolute;
        top: 50%;
        margin-top: 50px;
    }

}
