<div id="orderList">
    <div class="item"  ng-repeat="order in orders" ui-sref={{"/orders/"+order.id}} >
        <span>{{order.shopName}}</span>
        <span class="type">{{"类型：" + order.type}}</span>
        <span class="name">{{"顾客：" + order.name[0]+"**"}}</span>
        <span class="duration">{{'时间：' + order.duration}}</span>
        <span ng-switch on="order.status">
            <span class="status" ng-switch-when='admited'>已同意</span>
            <span class="status" ng-switch-when='refused'>已拒绝</span>
            <span class="unchecked status" ng-switch-when='unchecked'>未处理</span>
        </span>
    </div>
</div>
