<div id="shopDetail">
    <nav class="menu">
        <span ng-class="{active:menu==='service'}" ng-click="menu = 'service'">服务</span>
        <span ng-class="{active:menu==='evaluation'}" ng-click='menu = "evaluation"'>评价</span>
        <span ng-class="{active:menu==='shop'}" ng-click='menu = "shop"'>店铺</span>
    </nav>
    <div ng-switch on="menu">
        <div class="service" ng-switch-when="service"> 
            <div class="info">
                <div class="item"  ng-repeat="service in services">
                    <span class='name'>{{service.name}}</span>
                    <span class='num'>{{'月'+service.orderNum+'单'}}</span>
                    <span class='price'>{{'￥'+service.price}}</span>
                </div>
            </div>
            <div class="operation">
                <button class="order btn btn-sm btn-default" ui-sref="order">去预订</button>
                <button class="pay btn btn-sm btn-default" ui-sref="pay">直接支付</button>
            </div>
        </div>
        <div class="evaluation" ng-switch-when="evaluation"> 
            <div class="info">
                <div class="item" ng-repeat="evaluation in evaluations">
                    <div>
                        <span class="name">{{evaluation.name}}</span>
                        <span class="time">{{evaluation.addTime}}</span>
                    </div>
                    <div class="evas">
                        <span>{{"环境：" + evaluation.enviGrade + "分"}}</span>
                        <span>{{"态度：" + evaluation.attiGrade + "分"}}</span>
                        <span>{{"发型：" + evaluation.hairGrade + "分"}}</span>
                        <p>{{"评论："+evaluation.evaText}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopinfo" ng-switch-when="shop"> 
            <div class="info">
                <span class="name">{{info.name}}</span>
                <span class="orderNum">{{"月" + info.orderNum + "单"}}</span>
                <span class="grade">{{"评分：" + info.grade}}</span>
                <span class="address">{{'地址：' + info.address}}</span>
                <span class="phoneNum">{{'手机：' + info.phoneNum}}</span>
            </div>
        </div>
    </div>
</div>
